<!-- help channels -->
<div class="nomad-inset">
    <div class="nomad-title">
        <div class="title-title" style="text-align: center;">How can we help you?</div>
        <div class="title-description" style="text-align: center;">
            There are different ways to reach out for help. Pick a channel to get help
            from us or our community.
        </div>
        <div class="title-content">
            <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">forum</i>
                    <div class="content-title">
                        Forum
                    </div>
                    <div class="content-description content-grow">
                        NOMAD hosts a forum on <i>matsci.org</i> together with
                        many other materials science projects. NOMAD developers
                        and users will be able to help you here.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.forum %>">
                            <button class="nomad-button">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Visit our forum</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">bug_report</i>
                    <div class="content-title">
                        Open an Issue
                    </div>
                    <div class="content-description content-grow">
                        You can open an issue on NOMAD's main GitHub project.
                        This way, we can track your problem and start implementing
                        a solution.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.github %>/issues">
                            <button class="nomad-button">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">GitHub issues</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">description</i>
                    <div class="content-title">
                        Documentation
                    </div>
                    <div class="content-description content-grow">
                        The NOMAD documentation is a rich resource that explains
                        many aspects of NOMAD in great detail and provides
                        valuable howtos on advanced topics.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.documentation %>">
                            <button class="nomad-button ">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Open the docs</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQs -->
<div class="nomad-section" style="margin-top: 0;">
    <a name="faq"></a>
    <div class="section-title">FAQs</div>
    <div class="section-description">
        Find answers to the most frequently asked questions.
    </div>
    <div class="section-content nomad-faqs">
        <% for (category of Object.keys(faqData)) {
            const categoryData = faqData[category]
        %>
            <div><%= category%></div>
            <div>
                <% for (faq of categoryData) { %>
                    <div class="nomad-accordion">
                        <div class="accordion-title">
                            <i class="material-icons">expand_more</i>
                            <div><%= faq.title %></div>
                        </div>
                        <div class="accordion-content">
                            <div>
                                <%- faq.description %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>

<!-- Contact -->
<div class="nomad-section nomad-inset">
    <div class="nomad-banner">
        <div>
            <div class="banner-title">
                Contact us
            </div>
            <div class="banner-description">
                If the forum, issue system, documentation, or FAQ are
                not approriate for your problem, feel free to contact us
                via email. We will resond as soon as possible.
            </div>
            <div class="action action--filled">
                <a href="<%= urls.support_email %>">
                    <button>
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">Email support&nbsp;</span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">mail</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
