<!-- hero -->
<div class="nomad-hero">
    <div>
        <div class="hero-title">
            <span class="brandname">NOMAD</span><br/>
            Materials Science Data<br/>
            Managed and Shared
        </div>
        <div class="hero-description">
            NOMAD lets you manage and share your materials science data in a way that
            makes it truly useful to you, your group, and the community.
            <!-- Explore and use heterogenous data for millions of materials in a homogenous way. -->
        </div>
        <div>
            <a href="<%= urls.production_installation %>">
                <button>
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Open NOMAD</span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                </button>
            </a>
        </div>
    </div>
    <img src="./assets/nomad-hero.png" alt="nomad screenshot"/>
</div>

<!-- statistics -->
<div class="nomad-section nomad-inset">
    <div>
        <div class="section-title section-title--centered">used by thousands of materials scientist already</div>
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--filled">
            <div class="nomad-statistic">
                <div>
                    <span>uploaded entries</span>
                    <span>12.323.712</span>
                </div>
            </div>
            <div class="nomad-statistic">
                <div>
                    <span>covered materials</span>
                    <span>3.523.792</span>
                </div>
            </div>
            <div class="nomad-statistic">
                <div>
                    <span>uploaded raw files</span>
                    <span>59.3 TB</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PEA -->
<div class="nomad-section">
    <div class="section-subheading">Use-cases</div>
    <div class="section-title">More than sharing files</div>
    <div class="section-description">
        NOMAD processes your files to extract structured data and rich meta-data.
        It provides a unified way to Find, Access, Interoperate with, and Re-use
        millions of FAIR data from different codes, sources, and workflows.
    </div>
    <div>
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">cloud_upload</i>
                <div class="content-title">
                    Publish
                </div>
                <div class="content-description">
                    Enable your peers to re-use your data in
                    a common and structured way.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            Extracts data from 60+ formats
                        </li>
                        <li>
                            Incrementally create datasets
                        </li>
                        <li>
                            Customizable ELNs
                        </li>
                        <li>
                            DOIs for published data
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.production_installation %>/user/uploads">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Upload data</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">search</i>
                <div class="content-title">
                    Explore
                </div>
                <div class="content-description">
                    Heterogenous data with one interface,
                    one format, and one license.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            Search based on rich metadata
                        </li>
                        <li>
                            Data preview and visualization
                        </li>
                        <li>
                            Download files or processed data
                        </li>
                        <li>
                            All data under CC-BY-4.0
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.production_installation %>/search/entries">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Search NOMAD</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">code</i>
                <div class="content-title">
                    Analyse
                </div>
                <div class="content-description">
                    Programmatically access data and apply machine learning.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            All functionality usable via APIs
                        </li>
                        <li>
                            Machine-actionable unified data
                        </li>
                        <li>
                            Notebooks run in your browser
                        </li>
                        <li>
                            A comprehensive AI toolkit
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.aitoolkit %>">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">AI Toolkit</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- fairmat-->
<%- fairmat_banner %>

<!-- oasis -->
<div class="nomad-section">
    <div class="section-subheading">NOMAD & NOMAD Oasis</div>
    <div class="section-title">
        Reaearch data management for your group
    </div>
    <div class="section-description">
        Combine NOMAD and NOMAD Oasis to implement research data management.
        NOMAD Oasis gives you full control over your group's data,
        it lets you integrate all your data sources, and it runs your own analysis tools.
        We are working on a long term archival feature that lets you publish selected data
        directly from your Oasis to NOMAD.
    </div>
    <div class="nomad-inset">
        <div class="nomad-gallery nomad-gallery--2 nomad-gallery--filled" style="column-gap: 4em;">
            <div class="nomad-content">
                <div class="content-title">
                    NOMAD
                </div>
                <div class="content-description">
                    An open and free service for the community that lets you
                    manage, share, and publish data.
                </div>
                <div class="content-content content-grow">
                    <ul>
                        <li>
                            Privately manage a limited number of uploads
                        </li>
                        <li>
                            Publish data to the whole community
                        </li>
                        <li>
                            We archive your data and give you a DOI
                        </li>
                        <li>
                            Access all published data
                        </li>
                        <li>
                            You do not need to install or host anything
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="nomad.html">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Learn more about NOMAD</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content nomad-content--filled">
                <div class="content-title">
                    NOMAD Oasis
                </div>
                <div class="content-description">
                    Your resources, your rules, your NOMAD.
                    Manage data and collaborate locally.
                </div>
                <div class="content-content content-grow">
                    <ul>
                        <li>
                            Runs on your own resources with your rules
                        </li>
                        <li>
                            Control access and collaborate
                        </li>
                        <li>
                            Manage all data in your group at all stages
                        </li>
                        <li>
                            Publish to NOMAD from your Oasis soon
                        </li>
                        <li>
                            Adapt your Oasis for your data
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="nomad-oasis.html">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Learn about NOMAD Oasis</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- social proof-->
<section class="nomad-section">
    <div class="section-title section-title--centered">
        NOMAD Oasis is used by research groups at:
    </div>
    <div class="nomad-logo-gallery">
        <img src="assets/users/hu_r.png" alt="humboldt universität zu berlin"/>
        <img src="assets/users/helmholtz.svg" alt="holmholtz gesellschaft"/>
        <img src="assets/users/mpg_r.png" alt="max-planck gesellschaft"/>
        <img src="assets/users/hamburg.svg" alt="universität hamburg"/>
        <img src="assets/users/fau.svg" alt="friedrich-alexander-universität erlangen-nürnberg"/>
        <img src="assets/users/uiuc_r.png" alt="university of illinois urbana-champaign"/>
        <img src="assets/users/kit.svg" alt="karlsruhe institute of technology"/>
        <img src="assets/users/rwth.svg" alt="rwth aachen"/>
        <img src="assets/users/ikz_r.png" alt="insititut für kristallzüchtung"/>
    </div>
</section>
