<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMAD</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- don't forget to remove when deployed to production CMS -->
    <meta name="robots" content="noindex">
</head>

<body style="margin: 0;">
    <%= require('html-loader!./header.html').default %>

    <main class="mdc-top-app-bar--fixed-adjust">
        <div>
            <!-- installations -->
            <div class="nomad-inset">
                <div class="nomad-section">
                    <div class="section-title" style="text-align: center;">NOMAD Installations</div>
                    <div class="section-description" style="text-align: center;">
                        We continuesly improve the software behind NOMAD and NOMAD Oasis.
                        NOMAD operates different installations
                        to try features that are currently developed, have an empty test
                        sandbox, or access older version of NOMAD.
                    </div>
                    <div class="section-content">
                        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">
                            <div class="nomad-content">
                                <i class="material-icons nomad-icons--filled">science</i>
                                <div class="content-title">
                                    Beta
                                </div>
                                <div class="content-description content-grow">
                                    <p>
                                        This installation runs the newest version of the NOMAD software
                                        and uses the official NOMAD data. It is called <i>beta</i> or
                                        <i>staging</i> version.
                                    </p>
                                    <p>
                                        Use this installation to
                                        get access to all features that are currently developed.
                                    </p>
                                </div>
                                <div class="content-action">
                                    <a href="https://nomad-lab.eu/prod/v1/staging/">
                                        <button class="nomad-button">
                                            <span class="mdc-button__ripple"></span>
                                            <span class="mdc-button__label">Open NOMAD <i>beta</i></span>
                                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="nomad-content">
                                <i class="material-icons nomad-icons--filled">auto_delete</i>
                                <div class="content-title">
                                    Test
                                </div>
                                <div class="content-description content-grow">
                                    <p>
                                        This installation runs the official released version of
                                        the NOMAD software, but on data that is routinly wiped.
                                    </p>
                                    <p>
                                        Use this installation if you want to test NOMAD
                                        without adding things to the official data.
                                    </p>
                                </div>
                                <div class="content-action">
                                    <a href="https://nomad-lab.eu/prod/v1/test/gui/">
                                        <button class="nomad-button">
                                            <span class="mdc-button__ripple"></span>
                                            <span class="mdc-button__label">Open NOMAD <i>test</i></span>
                                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="nomad-content">
                                <i class="material-icons nomad-icons--filled">history</i>
                                <div class="content-title">
                                    Legacy
                                </div>
                                <div class="content-description content-grow">
                                    <p>
                                        This installation runs an old version of NOMAD (v0).
                                        Newer versions use a different API that is incompatible.
                                    </p>
                                    <p>
                                        You can use this installation to access data with
                                        tools that were developed for the old API. This
                                        installation does not allow to upload new data.
                                    </p>
                                </div>
                                <div class="content-action">
                                    <button class="nomad-button" href="https://nomad-lab.eu/prod/rae/gui/">
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">Open NOMAD v0</span>
                                        <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%= require('html-loader!./footer.html').default %>
</body>

</html>