<!-- installations -->
<div class="nomad-section">
    <div class="section-title" style="text-align: center;">NOMAD Installations</div>
    <div class="section-description" style="text-align: center;">
        We continuesly improve the software behind NOMAD and NOMAD Oasis.
        NOMAD operates different installations
        to try features that are currently developed, have an empty test
        sandbox, or access older version of NOMAD.
    </div>
    <div class="section-content">
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">science</i>
                <div class="content-title">
                    Beta
                </div>
                <div class="content-description content-grow">
                    This installation runs the newest version of the NOMAD software
                    and uses the official NOMAD data. It is called <i>beta</i> or
                    <i>staging</i> version.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            Experimental features activated.
                        </li>
                        <li>
                            Shows the actual NOMAD data.
                        </li>
                        <li>
                            Frequently updated.
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.beta_installation %>">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Open NOMAD <i>beta</i></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">auto_delete</i>
                <div class="content-title">
                    Test
                </div>
                <div class="content-description content-grow">
                    This installation runs the official released version of
                    the NOMAD software, but on data that is routinly wiped.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            Official NOMAD software.
                        </li>
                        <li>
                            Only contains test data.
                        </li>
                        <li>
                            Can be used for testing.
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.test_installation %>">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Open NOMAD <i>test</i></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">history</i>
                <div class="content-title">
                    Legacy
                </div>
                <div class="content-description content-grow">
                    This installation runs an old version of NOMAD (v0).
                    Newer versions use a different API that is incompatible.
                </div>
                <div class="content-content">
                    <ul>
                        <li>
                            Runs The old v0 NOMAD version.
                        </li>
                        <li>
                            Frozen, data upto end of 2021.
                        </li>
                        <li>
                            Offers the legacy NOMAD API.
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.legacy_installation %>">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Open NOMAD v0</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
