<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOMAD</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- don't forget to remove when deployed to production CMS -->
    <meta name="robots" content="noindex">
</head>

<body style="margin: 0;">
    <%= require('html-loader!./partials/header.html').default %>

    <main class="mdc-top-app-bar--fixed-adjust">
        <div>
            <!-- hero -->
            <div class="nomad-hero">
                <div>
                    <div class="hero-title">
                        <span>NOMAD</span><br/>
                        A free service to publish and use materials science data.
                    </div>
                    <div class="hero-description">
                        <%= htmlWebpackPlugin.options.lorem({count: 2, units: "sentences"}) %>
                    </div>
                    <div>
                        <button>
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Open NOMAD</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </div>
                </div>
                <div class="nomad-img-placeholder">
                    <div>Maybe a research cycle figure: publish, explore, analysis</div>
                </div>
            </div>

             <!-- NOMAD features-->
             <div class="nomad-section">
                <div class="section-subheading">Features</div>
                <div class="section-title">What is NOMAD?</div>
                <div class="section-description">
                    It is a free web-service that let's you share you data or use comprehensive data that others provide.
                    You can use NOMAD to organise, analyse, share, and publish your materials science data, as well as explore, download,
                    and analyse your colleagues data.
                </div>
                <div class="content nomad-gallery nomad-gallery--3">
                    <div class="nomad-content">
                        <i class="material-icons">link</i>
                        <div class="content-title">Get a DOI</div>
                        <div class="content-description">
                            NOMAD allows you to publish and archive your data for free. Assign a DOI to uploaded datasets and reference
                            your papers.
                        </div>
                    </div>
                    <div class="nomad-content">
                        <i class="material-icons">code</i>
                        <div class="content-title">All data at a glance</div>
                        <div class="content-description">
                            NOMAD extracts structured, machine-actionable data from over 50 of formats and codes. See all Your
                            data at a glance and have it prepared for analysis.
                        </div>
                    </div>
                    <div class="nomad-content">
                        <i class="material-icons">cloud_upload</i>
                        <div class="content-title">Drap'n'Drop</div>
                        <div class="content-description">
                            NOMAD organises your files as you would on your hard-drive.
                            Upload file-by-file or zip and upload whole directory structures.
                        </div>
                    </div>

                    <div class="nomad-content">
                        <i class="material-icons">construction_outlined</i>
                        <div class="content-title">Ready to use Tools</div>
                        <div class="content-description">
                            Run Jupyter notebooks and other tools directly on NOMAD.
                            Directly access your data and publish your analysis code.
                            No installation required.
                        </div>
                    </div>
                    <!-- <div>
                        <i class="material-icons">search</i>
                        <div class="content-title">All materials science data, accessible</div>
                        <div>The largest open materials science database in the world. Synchronised with others and growing every day.</div>
                    </div> -->
                    <div class="nomad-content">
                        <i class="material-icons">shield_outlined</i>
                        <div class="content-title">You Control Your Data</div>
                        <div class="content-description">
                            Not ready to publish? Organise data and collaborate in private first.
                            Or, use your own NOMAD Oasis for even more privacy.
                        </div>
                    </div>
                    <!-- <div>
                        <i class="material-icons">search</i>
                        <div class="mdc-typography--headline5 title">Get recognized</div>
                        <div>All data is published and usable under the Creative Commons 4.0 Attribution licence.</div>
                    </div> -->
                    <div class="nomad-content">
                        <i class="material-icons">extension_outlined</i>
                        <div class="content-title">Extendable</div>
                        <div class="content-description">
                            Add your own file formats.
                            Create custom ELNs.
                            Create exploration dashboards.
                            Build and run more analysis tools.
                        </div>
                    </div>
                </div>
            </div>

            <%= require('html-loader!./partials/fairmat-banner.html').default %>

            <div class="nomad-section">
                <div class="section-subheading">
                    FAIR data
                </div>
                <div class="section-title">
                    Why is NOMAD different?
                </div>
                <div class="section-description">
                    <%= htmlWebpackPlugin.options.lorem({count: 3, units: "sentences"}) %>
                </div>
                <div class="nomad-gallery nomad-gallery--2" style="row-gap: 64px;">
                    <div class="nomad-img-placeholder">
                        <div>metainfo</div>
                    </div>
                    <div class="nomad-content">
                        <div class="content-title">
                            Machine-actionable common data structures
                        </div>
                        <div class="content-content">
                            <%= htmlWebpackPlugin.options.lorem({count: 7, units: "sentences"}) %>
                        </div>
                    </div>
                    <div class="nomad-content">
                        <div class="content-title">
                            Analysis tools
                        </div>
                        <div class="content-content">
                            <%= htmlWebpackPlugin.options.lorem({count: 7, units: "sentences"}) %>
                        </div>
                    </div>
                    <div class="nomad-img-placeholder">
                        <div>NORTH/AI toolkit</div>
                    </div>
                </div>
            </div>

            <%= require('html-loader!./partials/oasis-banner.html').default %>

             <!-- Getting started -->
             <div class="nomad-section">
                <div class="section-subheading">Video tutorials</div>
                <div class="section-title">Getting started</div>
                <div class="section-description">
                    <%= htmlWebpackPlugin.options.lorem({count: 4, units: "sentences"}) %>
                </div>
                <div>
                    <div class="nomad-gallery nomad-gallery--3 nomad-gallery--filled" style="column-gap: 64px;">
                        <div class="nomad-content">
                            <i class="material-icons">cloud_upload</i>
                            <div class="content-title">
                                Publish
                            </div>
                            <div class="content-description content-content">
                                <%= htmlWebpackPlugin.options.lorem({count: 3, units: "sentences"}) %>
                            </div>
                            <div class="content-action">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Open tutorial</span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                        <div class="nomad-content">
                            <i class="material-icons">search</i>
                            <div class="content-title">
                                Explore
                            </div>
                            <div class="content-description content-content">
                                <%= htmlWebpackPlugin.options.lorem({count: 3, units: "sentences"}) %>
                            </div>
                            <div class="content-action">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Open tutorial</span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                        <div class="nomad-content">
                            <i class="material-icons">code</i>
                            <div class="content-title">
                                Using APIs
                            </div>
                            <div class="content-description content-content">
                                <%= htmlWebpackPlugin.options.lorem({count: 3, units: "sentences"}) %>
                            </div>
                            <div class="content-action">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Open tutorial</span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%= require('html-loader!./partials/footer.html').default %>
</body>

</html>