<!-- hero -->
<div class="nomad-hero" style="grid-template-columns: 500px 1fr; column-gap: 32px;">
    <div>
        <div class="hero-title">
            <span class="brandname">NOMAD Oasis</span><br/>
            Manage your research group's data.
        </div>
        <div class="hero-description">
            NOMAD Oasis let's you create your own NOMAD.
            Get an instant overview of all your groups data,
            increase productivity, and implement
            research data management plans with ease.
        </div>
        <div>
            <a href="<%= urls.documentation %>/oasis.html">
                <button>
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Got to the installation documentation</span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                </button>
            </a>
        </div>
    </div>
    <img src="assets/oasis.png" alt="nomad oasis data infrastructure"/>
</div>

    <!-- features-->
    <div class="nomad-section">
    <div class="section-subheading">Features</div>
    <div class="section-title">What is NOMAD Oasis?</div>
    <div class="section-description">
        NOMAD Oasis let's you create your own NOMAD. Our public service
        and Oasis are based on the same software. With NOMAD Oasis you get
        all the NOMAD features while implementing
        your specific data-management needs and individual policies. You
        get an instant overview of all your group's data and can collaborate
        without compromising privacy.
    </div>
    <div class="content nomad-gallery nomad-gallery--3">
        <div class="nomad-content">
            <i class="material-icons">download</i>
            <div class="content-title">Easy to install</div>
            <div class="content-description">
                Install with a simple guide on any docker enabled machine.
                Unlimited scalability with kubernetes and helm chart
                if necessary.
            </div>
        </div>
        <div class="nomad-content">
            <i class="material-icons">home</i>
            <div class="content-title">Runs on your premises</div>
            <div class="content-description">
                Run behind your firewall and inside your VPN. Use your
                own resources for processing and running analysis tools.
            </div>
        </div>
        <div class="nomad-content">
            <i class="material-icons">cloud_done</i>
            <div class="content-title">Publish selected data</div>
            <div class="content-description">
                NOMAD Oasis is connected to the public NOMAD service.
                Publish selected data with one click.
            </div>
        </div>
        <div class="nomad-content">
            <i class="material-icons">memory</i>
            <div class="content-title">Your own parsers</div>
            <div class="content-description">
                Support your own file formats. You
                add parsers and normalization routines.
            </div>
        </div>
        <div class="nomad-content">
            <i class="material-icons">construction</i>
            <div class="content-title">Use your own tools</div>
            <div class="content-description">
                NOMAD comes with jupyterhub. Add tools and
                notebooks that directly access and manipulate you data
                in NOMAD.
            </div>
        </div>
        <div class="nomad-content">
            <i class="material-icons">tune</i>
            <div class="content-title">Custom ELNs</div>
            <div class="content-description">
                You extend and customize NOMAD's schema to create
                specialized editors to document your work.
            </div>
        </div>
    </div>
</div>


    <!-- use cases -->
    <div class="nomad-section">
    <div class="section-subheading">Use cases</div>
    <div class="section-title">Why use NOMAD Oasis?</div>
    <div class="section-description">
        There are good reasons to manage your data locally, but with Oasis
        you are also prepared to publish and share your data via NOMAD.
    </div>
    <div>
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--filled">
            <div class="nomad-content">
                <div class="content-title">
                    Privacy
                </div>
                <div class="content-description">
                    With Oasis you control your data to
                    implement your data policies.
                </div>
                <div class="content-content">
                    <ul>
                        <li>Manage data without publishing.</li>
                        <li>Run in your network/VPN.</li>
                        <li>Use existing user management.</li>
                        <li>Only allow a whitelist of users.</li>
                    </ul>
                </div>
            </div>
            <div class="nomad-content">
                <div class="content-title">
                    Many data
                </div>
                <div class="content-description">
                    With Oasis you use your resources and
                    manage as many data as you want.
                </div>
                <div class="content-content">
                    <ul>
                        <li>Use existing storage solutions.</li>
                        <li>Simple file-base backup.</li>
                        <li>Only limited by your resources.</li>
                        <li>Publish selected data to NOMAD.</li>
                    </ul>
                </div>
            </div>
            <div class="nomad-content">
                <div class="content-title">
                    Custom needs
                </div>
                <div class="content-description">
                    Oasis can be extended and customized
                    beyond the public NOMAD service.
                </div>
                <div class="content-content">
                    <ul>
                        <li>Customized processing and ELNs.</li>
                        <li>Add support for your file formats.</li>
                        <li>Add your own NORTH tools.</li>
                        <li>Use APIs to integrate your lab.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- fairmat_banner %>

<div class="nomad-section">
    <div class="section-subheading">
        Installation
    </div>
    <div class="section-title">
        How to run NOMAD Oasis?
    </div>
    <div class="section-description">
        NOMAD is containerized. You can run it on a single computer
        with docker compose or on a large cluster with kubernetes. It
        can work for a small group as well as a large research institute.
    </div>
    <div class="nomad-inset">
        <div style="display: flex; flex-direction: column; gap: 2em;">
            <div class="nomad-content nomad-content--left-justified">
                <div class="content-title">
                    1. Choose your hardware
                </div>
                <div class="content-description">
                    NOMAD is an accessible framework that handles your files and
                    lets you run analysis.
                    The hardware requirements are determined by the intended usage.
                    You can start with any Linux system you already have and gradually
                    scale as your demands grow.
                </div>
            </div>
            <div class="nomad-content nomad-content--left-justified">
                <div class="content-title">
                    2. Configure your Oasis
                </div>
                <div class="content-description">
                    Getting started with NOMAD is simple, with an easy-to-install default setup and built-in tools to start.
                    You can integrate your existing storage solutions,
                    connect to your existing user management,
                    create custom schemas and parsers,
                    or be a part of the global NOMAD community and contribute your tools.
                </div>
            </div>
            <div class="nomad-content nomad-content--left-justified">
                <div class="content-title">
                    3. Easy to back-up
                </div>
                <div class="content-description">
                    NOMAD is based on files. All data is organized in a conventional
                    file system that can be easily integrated in your existing
                    storage and backup solutions.
                    Additionally, you can export your projects or make them public.
                </div>
            </div>
        </div>
    </div>
    <div class="section-action">
        <a href="<%= urls.documentation %>/oasis.html">
            <button class="nomad-button nomad-button--filled">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Got to the installation documentation</span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
            </button>
        </a>
    </div>
</div>
