<!-- installations -->
<div class="nomad-title">
    <div class="title-title" style="text-align: center;">Related Projects</div>
    <div class="title-description" style="text-align: center;">
        NOMAD is developed and used by other projects. These projects share
        common goals and value. Many team-members are active in these related
        projects as well.
    </div>
    <div class="title-content">
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">
            <div class="nomad-content">
                <img src="assets/FAIRmat.png"/>
                <div class="content-title">
                    FAIRmat
                </div>
                <div class="content-description">
                    FAIRmat is the NFDI consortium
                    that build a federated data infrastructure
                    for solid state physics in Germany
                    and beyond.
                </div>
                <div class="content-content content-grow">
                    <ul>
                        <li>
                            The main NOMAD developer
                        </li>
                        <li>
                            Extends NOMAD beyond theory
                        </li>
                        <li>
                            A federated data infrastructure
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.fairmat %>">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">FAIRmat homepage</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <img src="assets/nomad.png"/>
                <div class="content-title">
                    NOMAD CoE
                </div>
                <div class="content-description">
                    The NOMAD Center of Excellence is an
                    European Union Horizon 2020 project
                    on using exa-scale computing for
                    computational material science.
                </div>
                <div class="content-content content-grow">
                    <ul>
                        <li>
                            Uses NOMAD to manage data
                        </li>
                        <li>
                            Analytics on exascale hardware
                        </li>
                        <li>
                            NOMAD for extreme scale data
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.nomad_coe %>">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">NOMAD CoE homepage</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <img src="assets/FAIR-DI.png"/>
                <div class="content-title">
                    FAIR-DI e.V.
                </div>
                <div class="content-description">
                    A multi-national NGO to prolifirate FAIR data
                    practices in physics, chemistry, materials science,
                    and astronomy.
                </div>
                <div class="content-content content-grow">
                    <ul>
                        <li>
                            Hosts many related events
                        </li>
                        <li>
                            Connects FAIR data projects
                        </li>
                        <li>
                            Brings our ideas to other fields
                        </li>
                    </ul>
                </div>
                <div class="content-action">
                    <a href="<%= urls.fairdi %>">
                        <button class="nomad-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">FAIR-DI homepage</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
