$media-tablet: 1024px;
$media-phone: 768px;
$mdc-typography-font-family: unquote("Titillium Web, sans-serif");

$primary: #2A4CDF;
$primary-on-bg: #192E86;
$primary-bg: #EBDBC0;
$primary-tint: #EBDBC0;

$secondary: #008A67;
$secondary-bg: #cce8e1;

$white: #FDFEFF;
$black: #1D1D1D;

$width: 1024px;
$inset-width: $width - 128px;

@use "@material/shape";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/icon-button/mdc-icon-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";

:root {
  --mdc-typography-button-font-weight: 700;
  --mdc-theme-primary: #2A4CDF;
  --mdc-theme-secondary: #008A67;
  background-color: $white;
  color: $black;
}

body {
  @extend .mdc-typography;
  font-size: 16px;
  line-height: 26px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  footer {
    flex-grow: 1;
  }
}

main, footer {
  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  a:has(button) {
    &:hover {
      text-decoration: none;
    }
  }
}

main {
  ul {
    margin-block: 0;
    padding-left: 0;
    list-style: none;
    line-height: 1.6;

    li::before {
      content: "â—";
      color: $primary;
      font-weight: bold;
      display: inline-block;
      width: 1.25em;
      margin-left: -2em;
    }

    li {
      margin: 0;
      margin-top: 1em;
      padding: 0 0 0 2em;
    }
  }

  .nomad-content-list {
    .nomad-content:not(:first-child) {
        margin-top: 1em;
    }
  }
}

aside {
  @media (min-width: $media-phone) {
    display: none;
  }
}

@mixin button() {
  @extend .mdc-button;
  @include shape.radius(4px);

  .mdc-button__ripple {
    border-radius: 4px;
  }
}

.nomad-inset {
  display: flex;
  justify-content: center;
  flex-direction: row;

  > div {
    max-width: $inset-width;
  }
}


.nomad-filled {
  @extend .mdc-card;
  @extend .mdc-elevation--z0;
  @include shape.radius(4px);
  padding: 32px;

  // background-color: $white;
  // @extend .mdc-card--outlined;

  background-color: $primary-bg;

  .material-icons {
    color: $primary-on-bg !important
  }

  --mdc-theme-primary: #192E86;

  li::before {
    color: $primary-on-bg;
  }
}

.nomad-filled--highlight {
  @extend .mdc-elevation--z2;
  background-color: $secondary-bg;
}

.nomad-filled--primary {
  background-color: $primary;
  color: $white;
}

.nomad-button {
  @include button;
  letter-spacing: normal;
  text-transform: none;
  height: 3em;
  font-weight: 700;
  padding: 0 1.75em;
}

.nomad-button--filled {
  @extend .mdc-button--unelevated;
  .material-icons {
    color: $white !important;
  }
}

.nomad-button--secondary {
  --mdc-theme-primary: #008A67;
}

.nomad-icons--filled {
  border-radius: 100%;
  background-color: none;
  color: $primary;

  width: min-content;
  padding: 12px;
  font-size: 32px;
}

.nomad-img-placeholder {
  display: flex;
  height: 100%;
  width: 100%;
  div {
    margin: 16px;
    padding: 16px;
    background-color: $secondary-bg;
    color: red;
    font-size: 2em;
    width: 100%;
  }
}

.nomad-faqs {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
    > div:nth-child(odd) {
      margin-top: 1em;
    }
  }

  column-gap: 3em;

  > div:nth-child(odd) {
    @extend .mdc-typography--headline5;
    font-weight: bold;
    margin-top: 0.75rem;
  }

  > div:nth-child(even) {
    margin-bottom: 2em;
  }

  .nomad-accordion {
    border-bottom: solid 1px rgba(0,0,0,0.2);

    &:last-child {
      border-bottom: none;
    }
  }
}

.nomad-accordion {
  .accordion-title {
    cursor: pointer;
    width: 100%;
    padding: 0.75em 0em;
    color: $primary;
    font-weight: bold;
    position: relative;

    > .material-icons {
      position: absolute;
      right: 1em;
      transition-property: transform;
      transition-duration: 0.2s;
    }

    &.accordion-title--active > .material-icons {
      transform: rotate(-180deg);
    }
  }
  .accordion-title--active {
    font-weight: bold;
  }
  .accordion-content {
    > div {
       padding-bottom: 1em;
       p:last-child {
        margin-block-end: 0;
       }
    }

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.nomad-fixed-width {
  max-width: $width;
  padding: 0 32px;
  @media (max-width: $media-phone) {
    padding: 0 16px;
  }
  margin: auto;
}

.nomad-title {
  margin-top: 6rem;
  margin-bottom: 8rem;

  .title-title {
    @extend .mdc-typography--headline3;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.25em;
    color: $black;
  }

  .title-description {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-bottom: 3em;
  }
}

.nomad-section {
  margin-top: 96px;
  margin-bottom: 96px;

  .section-title {
    @extend .mdc-typography--headline4;
    font-weight: 700;
    margin-bottom: 0.25em;
    color: $black;
  }

  .section-subheading {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: $secondary;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .section-description {
    font-size: 1.25em;
    line-height: 1.6em;
    text-align: left;
    margin-bottom: 2em;
  }

  .section-title--centered {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5em;
    color: $primary;
  }

  .section-action {
    margin-top: 24px;
  }
}

.nomad-content {
  display: flex;
  flex-direction: column;

  img {
    height: 6em; margin: auto; margin-bottom: 2em;
  }

  .content-title {
    @extend .mdc-typography--headline5;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
  }

  .content-description {
    margin-top: 8px;
    font-size: 16px;
    @media (min-width: $media-phone) {
      margin-bottom: 8px;
    }
  }

  .content-grow {
    flex-grow: 1;
  }

  .content-action {
    margin-top: 2em;
    text-align: center;
  }

  .material-icons:first-child {
    font-size: 2em;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .nomad-icons--filled {
    margin-bottom: 16px;
  }
}

.nomad-content--left-justified .content-title {
  text-align: left;
}

.nomad-content--filled {
  @extend .nomad-filled;
}

.nomad-content--inset {
  display: flex;
  justify-content: center;
  flex-direction: row;

  > div {
    max-width: 1024px;
  }
}

.nomad-content--secondary {
  .content-title {
    @extend .mdc-typography--headline6;
    margin-bottom: 0;
  }
}

.nomad-gallery {
  display: grid;
  margin-top: 3em;
  column-gap: 4em;
  row-gap: 4em;

  @media (max-width: $media-phone) {
    row-gap: 48px;
  }
}

.nomad-gallery--2 {
  grid-template-columns: 1fr 1fr;

  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }
}

.nomad-gallery--3 {
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }
}

.nomad-gallery--dense {
  column-gap: 24px;
}

.nomad-gallery--filled {
  gap: 24px;
  row-gap: 24px;
  > div {
    @extend .nomad-filled;
  }
}

aside {
  img {
    width: 75%;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .mdc-list {
    font-size: 1.25em;
    line-height: 1.5em;
  }
  a {
    color: $black;
  }
  .mdc-list-group__subheader {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 24px;
  }
}

.mdc-top-app-bar--fixed {
  .mdc-top-app-bar__title {
    display: none;
  }
}

.mdc-top-app-bar--fixed-scrolled {
  .mdc-top-app-bar__title {
    @media (max-width: $media-phone) {
      display: inherit;
    }
  }
}

// Some of the mdc classes have to stay explictly in the HTML because the mdc js is relying on it.
header {
  background-color: $white;
  @extend .mdc-top-app-bar;

  a {
    text-decoration: none
  }

  .mdc-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .mdc-elevation--z2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  > div {
    @extend .mdc-top-app-bar__row;
    @extend .nomad-fixed-width;
    max-width: $width + 64px;

    @media (min-width: $media-phone) {
      height: 72px;
    }

    .title {
      @extend .mdc-top-app-bar__section;
      @extend .mdc-top-app-bar__section--align-start;
      padding-left: 0;
      margin-left: -10px;

      .mdc-top-app-bar__title {
        color: $primary;
        padding: 0;
        font-weight: bold;
      }

      a {
        @media (max-width: $media-phone) {
          display: none;
        }
        img {
          height: 48px;
          margin-top: 6px;
        }
      }

      button {
        @media (min-width: $media-phone) {
          display: none;
        }
        margin: inherit;
      }
    }

    .menu-bar {
      @media (max-width: $media-phone) {
        display: none;
      }

      @extend .mdc-top-app-bar__section;
      @extend .mdc-top-app-bar__section--align-end;

      column-gap: 8px;
      margin-right: -32px;

      .menu-bar-item {
        > button {
          --mdc-theme-primary: #000000;
          @extend .mdc-button;

          pointer-events: none;

          padding-left: 12px;
          .mdc-button__icon {
            margin-right: 0;
          }
        }

        .menu {
          @extend .mdc-elevation--z2;
          @extend .mdc-menu;

          margin-top: 32px;
          width: 200px;

          > ul {
            > li {
              @extend .mdc-list-item;
              @extend .mdc-menu-item--selected;
              a {
                color: $black;
              }
            }
          }
        }
      }
    }

    button {
      @include button;

      @media (max-width: $media-tablet) {
        display: none;
      }

      @extend .mdc-button;

      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

main {
  > div {
    @extend .nomad-fixed-width;
  }
}

.nomad-hero {
  @extend .nomad-section;
  @extend .nomad-gallery;

  margin-top: 144px;

  @media (max-width: $media-phone) {
    margin-top: 32px;
  }

  grid-template-columns: 530px 1fr;
  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr !important;
  }

  > div {
    align-self: center;
  }

  .hero-title {
    @extend .mdc-typography--headline3;
    font-weight: 700;  // other font weight need to be installed, before being usable
    color: $black;
    line-height: 1.15em;
    > span {
      font-weight: 400;
    }

    .brandname {
      font-weight: 600;
      color: $primary;
    }

    .brand-subheading {
      font-size: 0.33em;
      font-weight: 600;
      color: $primary-on-bg;
      display: none;
    }
  }

  .hero-description {
    margin-top: 1em;
    font-size: 1.25em;
    line-height: 1.6em;
  }

  img {
    width: 100%;
    max-width: 600px;
  }

  button {
    @extend .nomad-button;
    @extend .nomad-button--filled;
    margin-top: 3em;
  }
}

.nomad-statistic {
  padding: 0 !important;
  background-color: $primary !important;
  justify-self: stretch;
  text-align: center;

  > div {
    padding: 1.5em 2.5em 1.5em 2.5em;
    color: $white;

    span {
      display: block;
      font-size: 2em;
      font-weight: 700;  // other font weight need to be installed, before being usable
    }

    span:first-child {
      font-size: 1.15em;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.nomad-banner {
  @extend .nomad-filled;
  @extend .nomad-filled--highlight;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;

  .banner-title {
    @extend .mdc-typography--headline4;
    font-weight: bold;
    line-height: 1.15em;
  }

  .banner-description {
    margin-top: 1em;
    font-size: 1.25em;
    line-height: 1.6em;
  }

  .action {
    margin-top: 24px;
    margin-left: -24px;
    button {
      @extend .nomad-button;
    }
  }

  .action--filled {
    margin-left: 0;
    button {
      @extend .nomad-button--filled;
    }
  }

  > .material-icons {
    font-size: 1.8em;
    margin-bottom: 8px;
  }

  @media (max-width: $media-phone) {
    flex-direction: column;
    gap: 32px;

    > div:first-child {
      order: 2;
    }

    > div:not(:first-child) {
      order: 1;
    }

    > img {
      display: none;
    }
  }
}

.nomad-banner--oasis {
  --mdc-theme-primary: #008A67;
}

.nomad-banner--fairmat {
  margin-top: 8em;
  margin-bottom: 8em;
  --mdc-theme-primary: #FD331D;
  align-items: center;
  background-image: url(assets/fairmat-banner.png);
  background-size: cover;
  background-size: 100% 100%;
  padding: 3em;

  img {
    width: 8em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 66px;
  }
}

.nomad-header-box {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;

  border-top: 1px solid $primary-tint;
  &:last-child {
    border-bottom: 1px solid $primary-tint;
  }

  > div {
    justify-content: center;
    align-items: center;
    padding: 2em;
    &:first-child {
      border-right: 1px solid $primary-tint;
    }
  }

  > {
    height: 100%;
  }

  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }

  .content-action {
    margin-top: 1rem;
  }
}

.nomad-team {
  $img_width: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;

  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr;
  }

  img {
    position: relative;
    width: $img_width;
    line-height: 50px;
    display: inline-block;
    vertical-align: text-bottom;

    &::before {
      content: '...';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      line-height: $img_width;
      background-color: $secondary-bg;
      text-align: center;
      border-radius: 2px;
      display: block;
      width: $img_width;
      overflow: hidden;
    }
  }

  .item {
    @extend .nomad-filled;
    @extend .nomad-filled--highlight;
    background-color: $white;

    .item-properties {
      display: flex;
      flex-direction: row;
      column-gap: 2em;
      align-items: center;

      .person {
        flex-grow: 1;
      }
    }
  }
}

.nomad-features {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    td {
      border-right: 1px solid grey;
    }

    td:first-child {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 6em;
      padding-left: 1em;
      border-right: none;

      @media (min-width: $media-phone) {
        width: 40%;
      }

      div:first-child {
        @extend .mdc-typography--headline6;
        font-weight: bold;
      }

      div:not(:first-child) {
        @media (max-width: $media-phone) {
          display: none;
        }
      }
    }

    td:not(:first-child) {
      width: max-content;
      text-align: center;
    }

    td:last-child {
      border-right: none;
    }
    .material-icons {
      color: $primary;
    }

    tr:first-child {
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: $secondary-bg;
    }

    tr:first-child {
      height: 4em;
    }

    tr:last-child {
      height: 1em;
      background-color: inherit;
      td {
        padding: 0;
      }
    }
  }
}

.nomad-logo-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 1.25em;
  row-gap: 1.25em;
  img {
    display: block;
    height: 3.4em;
  }
}

.nomad-timeline {
  margin: 0 auto;
  position: relative;

  &:before {
    background-color: $primary;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }

  > div {
    position: relative;

    > div {
      padding: 2em 0 2em 3em;
      position: relative;
      top: -2em;
      left: 2em;

      &:last-child {
        padding: 2em 0 0 3em;
      }
    }

    > label {
      background-color: $primary;
      outline: 10px solid $white;
      border-radius: 50%;
      display: block;
      margin: 0.5em 0.5em 0.5em -0.5em;
      position: absolute;
      top: 0;
      left: 2em;
      width: 1em;
      height: 1em;
    }
  }
}

footer {
  padding: 0 32px;

  background-color: $primary; color: $white;

  a {
    color: $white;
  }

  > div {
    padding: 32px 0 64px 0;
    @extend .nomad-fixed-width;

    > div {
      display: flex;
      flex-direction: row;
      column-gap: 48px;
      row-gap: 24px;
      margin-top: 16px;
      flex-wrap: wrap;

      > div:nth-child(2) {
        flex-grow: 1;
      }
    }
  }

  .mdc-typography--headline6 {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 8px;
    }
  }
}

.bg-white {
  background-color: $white;
}

.bg-primary {
  background-color: $primary-bg;
}

.bg-primary-inverted {
  background-color: $primary;
  color: $white;
}

.bg-secondary {
  background-color: $secondary-bg;
}

.bg-secondary-inverted {
  background-color: $secondary;
  color: $white;
}

