// @use "@material/theme" with (
//   $primary: #9c27b0,
//   $secondary: #76ff03,
//   $background: #fff,
  
// );
// @use "@material/shape" with (
//   $small-component-radius: 32px,
//   $medium-component-radius: 32px,
//   $large-component-radius: 32px
// );
// @use "@material/button";
// @use "@material/card";

$media-tablet: 1024px;
$media-phone: 768px;

$mdc-theme-primary: #007CAD;
$mdc-theme-secondary: #00CED1;
$mdc-typography-font-family: unquote("Titillium Web, sans-serif");

$small-component-radius: 32px;
$medium-component-radius: 32px;
$large-component-radius: 32px;

$nomad-background-secondary: #e0e0e0;

@use "@material/shape";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/icon-button";
@import "@material/top-app-bar/mdc-top-app-bar";

:root {
  --mdc-typography-button-font-weight: 700;
  --mdc-theme-primary: #007CAD;
  --mdc-theme-secondary: #00CED1;
}

body {
  @extend .mdc-typography;
}

a {
  color: $mdc-theme-primary;
  text-decoration: none;
}

a:hover {
  color: $mdc-theme-secondary;
}

.button {
  @include shape.radius(32px);
}

.nomad-fixed-width {
  max-width: 1248px;
  padding: 0 32px;
  margin: auto;
}

.nomad-section { 
  margin-top: 128px;
  margin-bottom: 128px;
}

.nomad-inset {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  > div {
    max-width: 1024px;
  }
}

.nomad-content {
  display: flex;
  flex-direction: column;

  .title {
    @extend .mdc-typography--headline4;
  }

  .nomad-content .title {
    @extend .mdc-typography--headline5;
  }

  .description {
    margin-top: 8px;
  }

  .content {
    margin-top: 24px;
    margin-bottom: 24px;
    flex-grow: 1;
  }

  .action {
    margin-top: 24px;
    button {
      @extend .mdc-button; 
      @extend .button;
      @extend .mdc-button--unelevated;
    }
  }

  .material-icons {
    font-size: 1.8em;
    margin-bottom: 8px;
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    line-height: 1.6;

    li {
      margin-bottom: 16px;
      list-style-image: url(assets/li.png);
      font-size: 100%;
      padding: 0;
    }
  }
}

.nomad-filled {
  @extend .mdc-card;
  @extend .mdc-card--outlined;
  background-color: $nomad-background-secondary;
  @include shape.radius(16px);
  padding: 32px;
}

.nomad-content--filled {
  @extend .nomad-filled;
}

.nomad-content--inset {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  > div {
    max-width: 1024px;
  }
}

.nomad-gallery {
  display: grid;
  gap: 64px;
}

.nomad-gallery--2 {
  grid-template-columns: 1fr 1fr;

  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }
}

.nomad-gallery--3 {
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }
}

.nomad-gallery--filled {
  gap: 24px;

  > div {
    @extend .nomad-filled;
  }
}

// Some of the mdc classes have to stay explictly in the HTML because the mdc js is relying on it.
header {
  @extend .mdc-top-app-bar;
  @extend .mdc-top-app-bar--fixed;

  background-color: white;
  
  .nomad-app-bar-button {
    --mdc-theme-primary: #000000;
  }
  
  .mdc-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .mdc-elevation--z2 {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  }

  > div {
    @extend .mdc-top-app-bar__row;    
    @extend .nomad-fixed-width;
    max-width: 1312px;

    height: 72px;

    .title {
      @extend .mdc-top-app-bar__section;
      @extend .mdc-top-app-bar__section--align-start;
      padding-left: 0;
      margin-left: -10px;
    }

    .menu-bar {
      @media (max-width: $media-tablet) {
        display: none;
      }

      @extend .mdc-top-app-bar__section;
      @extend .mdc-top-app-bar__section--align-end;

      column-gap: 8px;

      .menu-bar-item {
        > button {
          @extend .mdc-button;
          @extend .nomad-app-bar-button;
          @extend .button;

          pointer-events: none;

          padding-left: 12px;
          .mdc-button__icon {
            margin-right: 0;
          }
        }
      
        .menu {
          @extend .mdc-elevation--z2;
          @extend .mdc-menu;
      
          margin-top: 32px;
          width: 200px;
      
          > ul {
            > li {
              @extend .mdc-list-item;
              @extend .mdc-menu-item--selected;
            }
          }
        }
      }
    }

    button {
      margin-left: 32px;
      @extend .mdc-button; 
      margin-right: -22px;
    }
  }
}

main {
  > div {
    @extend .nomad-fixed-width;
  }
}

.nomad-hero {
  @extend .nomad-section;
  @extend .nomad-gallery;

  grid-template-columns: 530px 1fr;
  @media (max-width: $media-tablet) {
    grid-template-columns: 1fr;
  }

  > div {
    align-self: center;
  }

  img {
    width: 100%;
    max-width: 600px;
  }

  button {
    @extend .mdc-button; 
    @extend .button;
    @extend .mdc-button--unelevated;

    font-size: 1.25em;
    padding: 1em 1.5em;
  }
}

.nomad-statistic {
  padding: 0 !important;
  justify-self: stretch;
  text-align: center;    

  > div {
    padding: 16px;
    font-size: 1.15em;      

    span {
      display: block;
    }

    span:first-child {
      font-size: 1.8em;      
      font-weight: bold;
      text-transform: uppercase;
      color: var(--mdc-theme-primary)
    }
  }
}

.nomad-fairmat-banner {
  @extend .nomad-filled;
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  gap: 64px;
  
  --mdc-theme-primary: #FD331D;

  @media (max-width: $media-phone) {
    flex-direction: column; 
    gap: 32px;

    > div:first-child {
      order: 2;
    }

    > div:not(:first-child) {
      order: 1;
    }
  }
}

footer { 
  margin-top: 128px;
  padding: 0 32px;
  
  background-color: var(--mdc-theme-primary); color: white; 

  > div {
    margin-top: 128px;
    padding: 32px 0 64px 0;
    @extend .nomad-fixed-width
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
