<div class="nomad-title">
    <div class="title-title">Getting started</div>
    <div class="title-description">
        These short YouTube tutorials directly give you specific instructions
        on how to use the core-functionality of NOMAD.
    </div>
    <div class="title-content">
        <%- video_tutorials %>
    </div>
</div>

<!-- More video -->
<div class="nomad-section">
    <div class="nomad-banner nomad-banner--fairmat">
        <div>
            <div class="banner-title">
                FAIRmat tutorial events
            </div>
            <div class="banner-description">
                FAIRmat conducts a regular online tutorial series and
                more events. Watch video presentation from
                past events or register for up-coming events.
            </div>
            <div class="action action--filled">
                <a href="<%= urls.fairmat_tutorials %>">
                    <button>
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">FAIRmat tutorial series</span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        <img src="./assets/FAIRmat.png" alt="fairmat logo"/>
    </div>
</div>

<!-- Oasis -->
<div class="nomad-section">
    <div class="section-subheading">Step-by-step</div>
    <div class="section-title">Oasis</div>
    <div class="section-description">
        These step-by-step instructions guide you from installing an Oasis
        to the first customizations. Learn how to create custom schemas
        that are the basis for your specific data and learn how to create
        ELNs.
    </div>
    <div>
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--filled" style="column-gap: 64px;">
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">install_desktop</i>
                <div class="content-title">
                    Installation
                </div>
                <div class="content-description content-content content-grow">
                    Instructions to install NOMAD Oasis. From the most
                    basic installation to first customization options.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/oasis.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">tune</i>
                <div class="content-title">
                    Custom schema
                </div>
                <div class="content-description content-content content-grow">
                    Learn what schemas are and how to write custom schemas in
                    NOMAD's schema format based on a simple example.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/schema/basics.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">edit</i>
                <div class="content-title">
                    ELNs
                </div>
                <div class="content-description content-content content-grow">
                    Take the schema from the schema tutorial and learn how
                    to annotate it to create custom forms and create basic ELNs.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/schema/elns.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Development -->
<div class="nomad-section">
    <div class="section-subheading">Step-by-step</div>
    <div class="section-title">Develop NOMAD</div>
    <div class="section-description">
        These step-by-step guides from our documentation will help you
        to develop NOMAD and NOMAD parsers.
    </div>
    <div>
        <div class="nomad-gallery nomad-gallery--3 nomad-gallery--filled" style="column-gap: 64px;">
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">terminal</i>
                <div class="content-title">
                    Getting started
                </div>
                <div class="content-description content-content content-grow">
                    Learn how to clone our sources, install all the
                    dependenceis, and necessary components to run NOMAD
                    as a developer.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/develop/setup.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">extension</i>
                <div class="content-title">
                    Parsers
                </div>
                <div class="content-description content-content content-grow">
                    Learn how to write and run a new parser for NOMAD.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/develop/parser.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="nomad-content">
                <i class="material-icons nomad-icons--filled">code</i>
                <div class="content-title">
                    Python package
                </div>
                <div class="content-description content-content content-grow">
                    Learn how to install NOMAD's Python package.
                </div>
                <div class="content-action">
                    <a href="<%= urls.documentation %>/pythonlib.html">
                        <button class="nomad-button nomad-button--filled">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">Go to instructions</span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
